@use '../../libs/const';

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        @include const.custom-form;
    }
    
    
}

.response{
    @include const.error-handler($isError:false)
}
.badResponse{
    @include const.error-handler($isError:true)
}